<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Dylan Armstrong</string>
	<key>Builder Version</key>
	<string>13604.5.6</string>
	<key>CFBundleDisplayName</key>
	<string>FontBlock</string>
	<key>CFBundleIdentifier</key>
	<string>com.fontblock.macos</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleVersion</key>
	<string>310</string>
	<key>Content</key>
	<dict>
		<key>Content Blocker</key>
		<string>blockerList.json</string>
	</dict>
	<key>Description</key>
	<string>Block external fonts.</string>
	<key>DeveloperIdentifier</key>
  <string>RV8UZBRE4E</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/dylanarmstrong/FontBlock/master/FontBlock.plist</string>
	<key>Website</key>
	<string>https://dylan.is</string>
</dict>
</plist>
